@import "normalize-scss";
@import "./variables.scss";
@include normalize();

@font-face {
  font-family: "Didot";
  src: url("~@/fonts/Didot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("~@/fonts/montserrat-2/Montserrat-Regular.otf") format("opentype"),
    url("~@/fonts/montserrat-2/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("~@/fonts/montserrat-2/Montserrat-Bold.otf") format("opentype"),
    url("~@/fonts/montserrat-2/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("~@/fonts/montserrat-2/Montserrat-Medium.otf") format("opentype"),
    url("~@/fonts/montserrat-2/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("~@/fonts/montserrat-2/Montserrat-Light.otf") format("opentype"),
    url("~@/fonts/montserrat-2/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("~@/fonts/montserrat-2/Montserrat-Italic.otf") format("opentype"),
    url("~@/fonts/montserrat-2/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
}

.default-max-container {
  max-width: $max-default-container-size;
  padding-left: 30px;
  padding-right: 30px;
}

.product-max-container {
  max-width: $max_product-container-size;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-popover {
  background: #faeeff !important;
  border: 1px solid $purple_color_btn;
  max-width: 250px;
  overflow: hidden;
  .arrow {
    display: none;
  }
}

.int-pm {
  align-items: center !important;
  border-radius: 2px !important;
  border: solid 1px $border_hover_grey_color !important;
  background-color: #ffffff !important;
  display: inline-block;
  margin-right: 20px;
}
.int-pm-decrement,
.int-pm-increment {
  height: 47px !important;
  width: 50px !important;
  background: #fff !important;
  border: none !important;
  display: inline-block;
  color: $border_hover_grey_color;
  font-size: 26px;
}
.int-pm-value {
  border: none !important;
  display: inline-block;
  min-width: 40px;
  padding: 0 5px;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
