@import 'normalize-scss';
@import "./variables.scss";
@include normalize();



@font-face {
    font-family: 'Didot';
    src: url('~@/fonts/Didot.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('~@/fonts/montserrat-2/Montserrat-Regular.otf') format('font-opentype'),
         url('~@/fonts/montserrat-2/Montserrat-Regular.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('~@/fonts/montserrat-2/Montserrat-Bold.otf') format('font-opentype'),
         url('~@/fonts/montserrat-2/Montserrat-Bold.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('~@/fonts/montserrat-2/Montserrat-Medium.otf') format('font-opentype'),
         url('~@/fonts/montserrat-2/Montserrat-Medium.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('~@/fonts/montserrat-2/Montserrat-Light.otf') format('font-opentype'),
         url('~@/fonts/montserrat-2/Montserrat-Light.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('~@/fonts/montserrat-2/Montserrat-Italic.otf') format('font-opentype'),
         url('~@/fonts/montserrat-2/Montserrat-Italic.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}







body{
    font-size: 16px;
}


@media only screen and (max-width: 480px) {
    body{
        font-size: 14px;
    }
}