//    -----   Variables  -----
$font_montserrat_regular: Montserrat-Regular, serif;
$font_montserrat_italic: Montserrat-Italic, serif;
$font_didot: Didot, serif;
$bg_grey: #f6f6f6;
$text_color: #262626;
$text_color_red: #c90000;
$border_grey_color: #909090;
$purple_color: #bc00ff;
$purple_color_btn: #7f13a6;

//    -----  END Variables  -----